<!--
	Mostly - apart from the Sunrise module on which this depends
	this is copyright (c) Peter Scargill - but as I've had so
	many ideas from others - consider it free to use for whatever
	purpose you like. If you redesign it please remember to drop
	my name and link in there somewhere. http://tech.scargill.net
   This purpose of this node is to send out time and date information
   to ESP8266 units - either as a blanket update via MQTT to all units
   once a day or on request when a unit "logs in".
   Specific requests result in a message being returned to a specific 
   unit. The information includes time un Unix format and dusk and dawn
   in minutes past midnight.
-->

<script type="text/x-red" data-template-name="esplogin">

  <div class="form-row">
    <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
    <input type="text" id="node-input-name" placeholder="Name">
  </div>
 
 <div class="form-row">
    <label for="node-input-lat"><i class="fa fa-globe"></i> Latitude</label>
    <input type="text" id="node-input-lat" placeholder="51.025">
  </div>
  <div class="form-row">
    <label for="node-input-lon"><i class="fa fa-globe"></i> Longitude</label>
    <input type="text" id="node-input-lon" placeholder="-1.4">
  </div>
  
  <div class="form-row">
    <label for="node-input-duskoff"><i class="fa fa-clock-o"></i> Dusk Offs</label>
    <input type="text" id="node-input-duskoff" placeholder="0">
  </div>

  <div class="form-row">
    <label for="node-input-dawnoff"><i class="fa fa-clock-o"></i> Dawn Offs</label>
    <input type="text" id="node-input-dawnoff" placeholder="0">
  </div>
 
 
</script>

<script type="text/x-red" data-help-name="esplogin">
    <p>The ESPLOGIN node is designed to work with boards from the project "Home control 2016" <a target="_blank" href="http://tech.scargill.net/home-control-2015/">here</a></p>
    <p>The node generates timing and logging output on powerup then every 12 hours and also on demand from specific input units.</p>
    <p>The time will be summer/winter corrected. Dusk and dawn offsets are in minutes past midnight.</p>
	<p> The first output generates MQTT topic "toesp" and a payload which contains time, dusk and dawn on demand for a specified longitude and latitude, OR the same with the topic prefixed by the input payload on demand from a particular unit (which has sent a JSON payload including its ID i.e. xxx.id).</p>
    <p>The second output is legacy log info in MYSQL format, the third output is text for a log file, the 4th output is SQLITE logging info.</p>
	<p>The node gives status info underneath showing who last logged in.</p>
</script>

<script type="text/javascript">
    RED.nodes.registerType('esplogin',{
        category: 'scargill-input',
        color:"#FFFF99",
        defaults: {
            name: {value:""},
            lat: {value:"", required:true, validate:RED.validators.number()},
            lon: {value:"", required:true, validate:RED.validators.number()},
            start: {value:"sunrise", required:true},
            end: {value:"sunset", required:true},
			duskoff: {value:"0", required: true},
			dawnoff: {value:"0", required: true}
        },
        inputs:1,
        outputs:4,
        icon: "sun.png",
        label: function() {
            return this.name||"Sun rise/set";
        },
        labelStyle: function() {
            return this.name?"node_label_italic":"";
        },
        oneditprepare: function() {
            if (($("#node-input-lat").val() === "") && ($("#node-input-lon").val() === "")) {
                if ("geolocation" in navigator) {
                    navigator.geolocation.getCurrentPosition(function(position) {
                        $("#node-input-lat").val(Number(position.coords.latitude.toFixed(5)));
                        $("#node-input-lon").val(Number(position.coords.longitude.toFixed(5)));
                    });
                }
            }
        }
    });
</script>
